* {
  box-sizing: border-box;
}

html.dark {
  background-image: url("../../public/TARDISBG.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--font-minecraft);
}
html {
  background-color: #b1d7ff;
  font-family: var(--font-minecraft);
}
body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  /* Added for Sticky Footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Added to push the footer down */
main {
  flex: 1;
}

.dark .menu {
  background-color: #0d0950;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}
.menu {
  background-color: #96eaea;
  border: none;
  color: #0f0c37;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}
.dark a {
  color: #00c3ff;
  text-decoration: none;
}
.dark a:hover {
  text-decoration: underline;
}
a {
  color: #121f3a;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.dark h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: azure;
}
h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: #0f0c37;
}
.dark h2 {
  color: azure;
}
h2 {
  color: #0f0c37;
}
.dark h3 {
  color: azure;
}
h3 {
  color: #0f0c37;
}
.dark p {
  color: azure;
}
p {
  color: #0f0c37;
}
.dark li {
  color: azure;
}
li {
  color: #0f0c37;
}
.dark button {
  margin: 0.25em;
  border: solid 1px #a1a1a1;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-size: 1.15em;
  background-color: #0c206c;
  font-family: var(--font-minecraft);
  color: #88e4e4;
}
button {
  margin: 0.25em;
  border: solid 1px #121f3a;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-size: 1.15em;
  background-color: #15df8d;
  font-family: var(--font-minecraft);
  color: #0f0c37;
}
.nav-links {
  width: 100%;
  display: none;
  margin: 0;
  gap: 3rem;
}

.dark .nav-links a {
  display: flex;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #88e4e4;
}
.nav-links a {
  display: flex;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #0f0c37;
}
.nav-links a:hover,
.nav-links a:focus {
  background-color: #285340;
  border-radius: 15px;
}
:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}
@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: flex;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
  }
  .menu {
    display: none;
  }
}
